.content {
    // @include susy-grid-background;
    .happyfaces {
        display: none;
    }
    @include at-breakpoint($break) {
        @include pad(1,1);
        // @include susy-grid-background;
        .happyfaces {
            @include span-columns(7,12);
            display: block;
            overflow: hidden;
        }
        .frontpageinfo {
            @include span-columns(5 omega, 12);
            display: block;
            overflow: hidden;
        }
    }
    .frontpagelist {
        // @include susy-grid-background;
        list-style: none outside;
        padding: 0 $gutter-width/2 0 $gutter-width/2;
        margin-top: 0;
        display: block;
        overflow: hidden;
    }
    .frontpagelistitem{
        @include margin-trailer(16, 16px);
        &:first-child {
            @include margin-trailer(3, 16px);
        }
    }
    .frontpagelistheader {
        border-bottom: 1px solid $background-dark;
        @include margin-trailer(3, 16px);
        .frontpagelistimg {
            float: left;
            @include opacity(0.5);
        }
        .heading {
            @include adjust-font-size-to(26px);
            @include pre(1);
            @include rhythm(0,3.5,0,0,26px);
            color: $base-text;
            overflow: hidden;
        }
    }
    .frontpagelisttext {
        @include adjust-font-size-to(14px);
        // @include pre(1);
        // @include span-columns(10,12);
        @include squish(1,1);
        @include rhythm(0,0,0,1,16px);
        color: $dark-base-text;
    }
    .frontpagelistanchor {
        text-decoration: none;
        text-align: center;
        color: lighten($base-text, 60%);
        text-shadow: 1px 1px rgba($background, .30);
        @include span-columns(8,12);
        @include squish(2,2);
        @include adjust-font-size-to(16px);
        @include border-radius(.45em);
        @include background-image(linear-gradient(lighten($base-color-light, 20%), lighten($base-color-dark, 20%)));
        @include box-shadow(rgba($background, .3) 1px 1px 0 0 inset);
        @include margin-leader(3, 16px);
        padding: rhythm(1, 16px);
        border: 1px solid darken($base-color-dark, 20%);
        &:hover {
            @include background-image(linear-gradient($base-color-light, $base-color-dark));
        }
        &:active {
            @include background-image(linear-gradient($base-color-light, $base-color-dark));
        }
    }
}