.innercontent {
    @include at-breakpoint($break) {
        @include pad(1,1);
        // @include susy-grid-background;
        .editorial {
            @include span-columns(7,12);
            display: block;
            overflow: hidden;
        }
        #map {
            @include span-columns(7,12);
            margin-top: $gutter-width*2;
            #map-canvas {
                height: 450px;
            }
        }
        .pageinfo {
            @include span-columns(5 omega, 12);
            display: block;
            overflow: hidden;
            background: transparent !important;
            border: none !important;
        }
    }
    .pageinfo {
        background: darken($background, 3%);
        padding-top: $gutter-width/2;
        @include border-radius(.5em);
        border: 1px solid $base-red;
        margin-bottom: $gutter-width;
    }
    .editorial {
        // @include susy-grid-background;
        border-bottom: 3px solid $background-dark;
        padding-bottom: $gutter-width*4;
        margin-bottom: $gutter-width;
        color: $dark-base-text;
        .pagelistanchor {
            @include basicbutton;
            margin-top: 0px !important;
        }
    }
    .address_info {
        @include padding-leader(1,16px);
        color: $dark-base-text;
        background: $background-dark;
        border-bottom: 1px solid $dark-base-text;
        border-top: 1px solid $dark-base-text;
        .address_info_text {
            @include adjust-font-size-to(14px);
            @include rhythm(0,0,0,1,16px);
            @include squish(1,1);
        }
    }
    #map_canvas {
        height: 450px;
        margin-bottom: $gutter-width;
        border-bottom: 1px solid $background-dark;
    }
    .treecare {
        @include rhythm(2,0,0,0,16px);
    }
    .serviceslist {
        list-style: none outside;
    }
    .serviceslistitem {
        @include rhythm(2,0,0,0,16px);
    }
    .pagelist {
        // @include susy-grid-background;
        list-style: none outside;
        padding: 0 $gutter-width/2 0 $gutter-width/2;
        margin-top: 0;
        display: block;
        overflow: hidden;
    }
    .pagelistitem{
        @include margin-trailer(16, 16px);
        &:first-child {
            @include margin-trailer(3, 16px);
        }
    }
    .pagelistheader {
        border-bottom: 1px solid $background-dark;
        @include margin-trailer(3, 16px);
        .pagelistimg {
            float: left;
            @include opacity(0.5);
        }
        .heading {
            font-family: 'Julius Sans One', sans-serif;
            @include adjust-font-size-to(26px);
            @include pre(1);
            @include rhythm(0,3.5,0,0,26px);
            color: $base-text;
            overflow: hidden;
        }
    }
    .pagelisttext {
        @include adjust-font-size-to(14px);
        @include squish(1,1);
        @include rhythm(0,0,0,1,16px);
        color: $dark-base-text;
    }
    .pagelistanchor {
        @include basicbutton;
    }
}